.nvim/plugged
.vim/plugged
.emacs.d/elpa
.DS_Store
*.zwc
.bin/slk
.config/nvim/.init.vim-rplugin~
.config/nvim/tags
.config/hunk
.config/heroku
.config/configstore
.config/NuGet/
.config/slk/
.config/stetic/
.config/raycast-x
.config/xbuild/
.config/yarn/
.config/iTerm2
.config/himalaya
.config/htop
tags
.config/coc/extensions/db.json
styles/
raycast_scripts/
.config/graphite
.avante_chat_history
.config/cursor
.config/homebrew
