.nvim/plugged
.vim/plugged
.emacs.d/elpa
.DS_Store
*.zwc
.config/nvim/.init.vim-rplugin~
.config/nvim/tags
.config/hub
.config/heroku
.config/configstore
.config/NuGet/
.config/stetic/
.config/xbuild/
.config/yarn/
.config/iTerm2
.config/himalaya
.config/htop
tags
.config/coc/extensions/db.json
styles/
raycast_scripts/
.config/graphite
