raycast
coc/extensions/node_modules
fisher
fish/fishd.*
fish/fish_variables
fish_history
fish/fish_history
fish_read_history
weechat
btop
nvim-undo
gh-dash
op
github-copilot
1Password
zed
flipperdevices.com/
lnav
